:root{
    background-color: black;
    color: white;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
main{
    display: flex;
}

h1{
    font-size: 2em;
}
h2{
    font-size: 3em;
}


#contenu{
    overflow: hidden;
    margin-left: 5%;
    height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 60%;
    line-height: 1px;
}

a{
    width: max-content;
    font-size: 1.2em;
    text-decoration: none;
    border-bottom: solid 1px;
    color: white;
    line-height: 120%;   
    margin-bottom: 0.3em;
}
a:hover{
    color: #008f11;
}
a:active{
    opacity: 50%;
}

nav{
    display: inline-block;
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    
}

#image{
    margin: auto;
    overflow: hidden;
    /* border: solid white; */
    width: 50%;
    height: 900px;
}

img{

    width: 900px;
    height: 900px;
    border-radius: 50%;
    margin-bottom: 200px;
}


@media screen and (min-width: 200px) and (max-width: 830px) {
    main{
        flex-direction: column;
        align-items: center;
    }
    img{
        display: none;
    }
    nav{
        align-items: center;
    }
    #contenu{
        height: 75vh;
        margin-left: 0%;
        /* margin-top: 30%; */
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: none;
        line-height: normal;
        max-width: 100%;
    }
}

